body {
	background: rgb(209, 235, 228);
	font-family: "Helvetica-Bold";
}

* {
	box-sizing: border-box;
}

.container {
	font: "Helvetica-Bold";
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: clamp(100px, 20, vw, 300px);
}

.header {
	display: flex;
	font: "Helvetica-Bold";
	flex-direction: column;
	align-items: center;
	width: 100vw;
	height: clamp(100px, 20, vw, 300px);
	padding-bottom: 1vw;
	background-image: url("bookshelf.jpg");
	background-size: 100% 100%;
	/*background: rgb(165, 198, 212);*/
}

.libraryName {
	font-size: max(5vw, 30px);
	color: rgb(185, 191, 180);
	background: rgb(67, 83, 115);
	border-radius: 6px;
	border: 2px solid rgb(185, 191, 180);
}

.totals-counter {
	font-size: max(3.5vw, 21px);
	color: black;
}

.button-row {
	display: flex;
	padding-top: 2vh;
	padding-bottom: 2vh;
	padding-left: 5vw;
	padding-right: 5vw;
	height: 125px;
	justify-content: space-between;
	align-items: center;
	background: rgb(165, 198, 212);
}

.bottomRow {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: stretch;
	width: 100%;
	padding-top: 10px;
}

.list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	padding: 10px;
}

fieldset {
	border: none;
}

.newCard {
	display: flex;
	flex-direction: column;
	font: "Helvetica-Bold";
	justify-content: space-evenly;
	align-items: center;
	width: clamp(200px, 25vw, 325px);
	border: 1px solid rgb(27, 36, 8);
	background: rgb(223, 242, 182);
	border-radius: 6px;
	padding-top: 1em;
	padding-bottom: 1em;
}

.displayEntry {
	font: "Helvetica-Bold";
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: clamp(200px, 25vw, 325px);
	height: clamp(250px, 33vh, 300px);
	border: 1px solid rgb(27, 36, 8);
	background-image: url("parchment.jpg");
	border-radius: 6px;
	padding-top: 1em;
	padding-bottom: 1em;
}

#addBookButton {
	background-color: rgb(32, 27, 168);
	color: white;
	display: inline-block;
	font: "Helvetica-Bold";
	font-size: max(2vw, 16px);
	padding: 0.75em 1em;
	text-align: center;
	cursor: pointer;
	border: none;
	border-radius: 8px;
}

#removeBookButton {
	background-color: rgb(184, 32, 2);
	color: white;
	display: inline-block;
	font-size: 0.7em;
	padding: 0.3em 0.5em;
	text-align: center;
	cursor: pointer;
	border: none;
	border-radius: 8px;
}

input[type="text"],
input[type="number"] {
	border-radius: 4px;
	background: 
}

label {
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 4px;
}
	

.bookTitles {
	font-size: 2em;
	font-weight: bold;
}

.bookBy {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	font-size: 1em;
	font-style: italic;
}
.bookAuthors {
	font-size: 1.5em;
	font-weight: bold;
	font-style: normal;
	padding-top: 10px;
}

.bookPages, .bookGenre {
}

.toggle input {
  display: none;
}

/* Slider styles */
.slider {
  display: block;
  width: 40px;
  height: 18px;
  background-color: #ccc;
  border-radius: 50px;
  position: relative;
}

/* Handle styles */
.slider::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: 0.2s;
}

/* Checked state styles */
input:checked + .slider {
  background-color: rgb(37, 71, 58);
}

input:checked + .slider::before {
  transform: translateX(20px);
}

